



* {
    box-sizing: border-box;
}

head {
    font-family:arvo,sans sérif;
    font-size:4.5em;
    line-height:
    margin:
}

body {

}

header {
    t

}

h1 {

}
h2{

}
p{

}

a {

}

nav {

}
